{
  "name": "{{ nodePackageName }}",
  "version": "{{ version }}",
  "description": "{{ description }}",
  "license": "{{ license }}",
  "author": "{{ author }}",
  "repository": {
    "type": "git",
    "url": "git+{{ repository }}.git"
  },
  "homepage": "{{ homepage }}",
  "keywords": [
{%- for keyword in keywords %}
    "{{ keyword }}"{{ "," if not loop.last else "" }}
{%- endfor %}
  ],
  "main": "index.js",
  "types": "index.d.ts",
  "files": [
    "index.js",
    "index.d.ts",
    "*.node"
  ],
  "engines": {
    "node": ">= 16"
  },
  "scripts": {
    "artifacts": "napi artifacts",
    "build": "napi build --platform --release",
    "build:debug": "napi build --platform",
    "prepublishOnly": "napi prepublish -t npm",
    "test": "node test.js",
    "universal": "napi universal",
    "version": "napi version"
  },
  "napi": {
    "name": "xpatch",
    "triples": {
      "defaults": true,
      "additional": [
        "x86_64-unknown-linux-musl",
        "aarch64-unknown-linux-gnu",
        "aarch64-unknown-linux-musl",
        "aarch64-apple-darwin",
        "aarch64-pc-windows-msvc"
      ]
    }
  },
  "devDependencies": {
    "@napi-rs/cli": "^2.18.4"
  }
}
